.iconfont {
    font-family: iconfont;
}

.wrapper {
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.class-list {
    width: 162px;
    margin-top: 113px;
    margin-bottom: 90px;
    // padding-top: 30px;
    border-right-width: 1px;
    border-right-color: #d9d9d9;
    background-color: #fff;
}

.class-txt {
    font-size: 28px;
    height: 92px;
    padding-top: 42px;
    padding-bottom: 22px;
    // margin-top: 40px;
    // margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: #333;
}

.main-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 113px;
    margin-bottom: 90px;
    background-color: #fff;
}

.ad-img {
    width: 532px;
    height: 194px;
    border-radius: 6px;
    margin: 28px;
}

.sub-tlt {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sub-box {
    padding-left: 26px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub-i {
    width: 178px;
    height: 200px;
}

.i-img {
    width: 150px;
    margin-left: 14px;
    margin-right: 14px;
    height: 150px;
}

.i-name {
    font-size: 22px;
    text-align: center;
}

.j-uline {
    position: absolute;
    top: 39px;
    left: 1px;
    width: 5px;
    height: 36px;
    background-color: #b4282d;
}

.c-act {
    color: #b4282d;
}